html, body, #root {
  height: 100%;
}

.App {
  color: white;
  height: 100%;
}

.Phase-name {
  padding: 50px;
  font-size: 100px;
  font-family: 'LatoWebLight';
}

.App-phase-time {
  font-size: 70px;
  font-family: 'LatoWebBold';
}


/* Universal stuff */
.image-full-background {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}


/* WaitingPhase */

.WaitingPhase {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url(./images/blueprint-pattern.png);
  background-repeat: repeat;
}

.logo {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}

.button-text {
  max-width: 50%;
}

.game-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 900px;
  font-family: 'LatoWebLight';
  font-size: 50px;
  margin-top: 70px;
  margin-bottom: 40px;
  line-height: 70px;
  text-align: center;
}


/* JoiningPhase */

.JoiningPhase {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url(./images/blueprint-pattern.png);
}

.JoiningPhase-time {
  font-size: 70px;
  margin-bottom: 90px;
  margin-top: -160px;
}

.JoiningPhase-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.JoiningPhase-row-vs {
  font-size: 140px;
  font-family: 'LatoWebHeavy';
}

.JoiningPhase-AvatarMissing {
  margin-bottom: -160px;
}

/* InstructionPhase */
.InstructionsPhase {
  height: 100%;
  background-image: url(./images/blueprint-pattern.png);
  text-align: center;
  position: relative;
}

.instructions-container {
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 50px;
  clear: both;
  font-family: 'LatoWebLight';
  line-height: 70px;
}

.instruction-images-container {
  margin: 0 auto;
  margin-left: 160px;
  margin-right: 160px;
}

.instruction-image {
  float: left;
  width: 30%;
  margin-left: 0.5%;
  margin-right: 0.5%;
}

.important-instructions {
  /*color: #FAF42D;*/
  font-family: 'LatoWebBold';
}


/* BiomeSelectionPhase */
.BiomeSelectionPhase {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.biome-descriptors {
  font-size: 60px;
}

/* InProgressPhase */

.InProgressPhase {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Banner {
  border: 4px solid white;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.76);
  top: -10px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.Banner-title {
  text-transform: capitalize;
  font-size: 65px;
  margin-bottom: 13px;
}

.Banner-time {
  font-size: 36px;
  font-family: 'LatoWebHeavy';
  display: flex;
  align-content: center;
  justify-content: center;
}

.Banner-time > img {
  margin-right: 15px;
}

.Jumbotron {
  width: 540px;
  height: 430px;
  background: rgba(0, 0, 0, 0.76);
  font-size: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 4px solid white;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

.Jumbotron-title {
  text-transform: capitalize;
  font-size: 80px;
  font-family: 'LatoWebBold';
  margin-bottom: 20px;
}

/* ScoringPhase */

.ScoringPhase {
  height: 100%;
}

.ScoringPhase-resultsPanels {
  display: flex;
  flex-direction: row;
}

.ResultsPanel-background {
  background-color: rgba(0,0,0,0.8);
  width: 50%;
  height: 90%;
  margin: 10px 10px 10px 10px;
  border-radius: 10px;
  border: 2.5px solid white;
}

.ResultsPanel-header {
  display: flex;
  flex-direction: row;
  font-size: 25px;
}

.ResultsPanel-playerScore {
  display: flex;
  justify-content: center;
  margin-left: 50px;
  font-family: 'LatoWebBold';
}

.ResultsPanel-starPanel {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-context: flex-around;
}

.ResultsPanel-imgPanel {
  display: flex;
  justify-content: center;
}

.ResultsPanel-img {
  width: 90%;
  background-color: white;
  height: 150px;
}

.ResultsPanel-description {
  display: flex;
  justify-content: center;
  font-style: italic;
}

.Stars {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* TimeUpPhase */

.TimeUpPhase {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
